use_nvm() {
  local nvmrc=".nvmrc"
  if [ -f "$nvmrc" ]; then
    local version
    version=$(cat "$nvmrc")
    export NVM_DIR="${NVM_DIR:-$HOME/.nvm}"
    # shellcheck disable=SC1090
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    nvm use "$version" --silent
  fi
}

use_nvm
